.song {
		float:left;
		padding: 10px 10px 0 10px; 
		width: 25em; 
		height: 30em
	}
.number {
	font-weight: bold;
}
.title {
	font-style: italic;
}

.filter {
	position: relative;
	float: right;
	top: -84px;
	right: 7em;
	display: none;
}

p {
	margin: 0 5px;
	color: #666;
}

.genre {
	font-size: 12px;
	margin-left: 48px;
	color: #999;
}

img {
	 border-top-left-radius: 15px;
	 border-top-right-radius: 15px;
	 border: 0px solid #e1e1e1;
	-webkit-box-shadow: 0px -15px 95px -12px rgba(0,0,0,0.29);
-moz-box-shadow: 0px -15px 95px -12px rgba(0,0,0,0.29);
box-shadow: 0px -15px 95px -12px rgba(0,0,0,0.29);
}

.content {
	width: 90%;
	margin: 0 auto;
	color: #666;
}

.page-header {
	width: 90%;
	margin: 0 auto 4em auto;
}

.date-holder {
	font-style: italic;
}